.search{
    
    display: flex;
    margin-left: 680px;
    margin-top: 25px;
}
.div1{
    width: 60%;
    
}
.div2{
    width:30%;
}
.search1{
    
    display: flex;
    margin-left: 80px;
    margin-top: 25px;
}